<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link
        href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="/css/style.v1.0.0.css">
    <link rel="stylesheet" href="/css/alertify.min.css">
    <title>Login</title>
    <style>
        /* CSS untuk mengatur tampilan ikon mata */
        .password-toggle {
            position: absolute;
            right: 10px;
            top: 50%;
            transform: translateY(-50%);
            cursor: pointer;
            width: 20px;
            /* Lebar ikon */
            height: auto;
            /* Tinggi ikon menyesuaikan proporsi */
        }
    </style>
</head>

<body>
    <div class="grid grid-cols-2">
        <div class="hidden sm:block  bg-cover bg-center col-span-1 h-screen"
            style="background-image : url('/image/gambar.jpg')">
        </div>
        <div class="col-span-2 flex items-center justify-center md:col-span-1 h-screen ">
            <div class="w-80">
                <h2 class="font-bold block py-3">
                    Login
                </h2>
                <form class="max-w-md mx-auto gap-6">
                    <div class="relative z-0 w-full mb-5 group">
                        <input type="email" name="floating_email" id="floating_email"
                            class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-emerald-500 focus:outline-none focus:ring-0 focus:border-emerald-600 peer"
                            placeholder=" " required />
                        <label for="floating_email"
                            class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto peer-focus:text-emerald-600 peer-focus:dark:text-emerald-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Email
                            address</label>
                    </div>
                    <div class="relative z-0 w-full mb-5 group">
                        <input type="password" name="floating_password" id="floating_password"
                            class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-emerald-500 focus:outline-none focus:ring-0 focus:border-emerald-600 peer"
                            placeholder=" " required />
                        <label for="floating_password"
                            class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 peer-focus:text-emerald-600 peer-focus:dark:text-emerald-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Password</label>
                        <!-- Ikon mata untuk toggle visibilitas password -->
                        <img src="/image/tidakterlihat.jpg" class="password-toggle" id="passwordToggle"
                            alt="Password Visibility Toggle">
                    </div>
                </form>
                <button type="button" id="login-button"
                    class="focus:outline-none text-white bg-emerald-700 hover:bg-emerald-800 focus:ring-4 focus:ring-green-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800">Login</button>
                <div>
                    <a href="/user/signup/">SignUp</a>
                </div>
                <script>
                    // JavaScript untuk menangani klik pada ikon mata
                    const passwordInput = document.getElementById("floating_password");
                    const passwordToggle = document.getElementById("passwordToggle");
                    passwordToggle.addEventListener("click", function () {
                        if (passwordInput.type === "password") {
                            passwordInput.type = "text";
                            passwordToggle.src = "/image/terlihat.jpg"; // Ganti ikon mata ke "off" ketika password terlihat
                        } else {
                            passwordInput.type = "password";
                            passwordToggle.src = "/image/tidakterlihat.jpg"; // Ganti ikon mata ke "on" ketika password tidak terlihat
                        }
                    }); 
                </script>
            </div>

        </div>
    </div>
</body>

{{#if scripts}}
{{#each scripts}}
<script src="/js/{{this}}"></script>
{{/each}}
{{/if}}

</html>